p {
  margin-bottom: 0;
  text-align: center;
}

.Weather ul {
  display: inline;
}
.Weather li {
  list-style: none;
  margin: 0;
}
.Weather .conversion {
  text-decoration-line: none;
  color: #000000;
  position: relative;
  top: 10px;
}
.Weather .conversion:hover {
  color: #000000;
  font-weight: bold;
}
.Weather div.col-4.section-one {
  padding-right: 0;
}
.Weather .cityChoice {
  font-size: 25px;
  font-weight: bold;
}

.Weather .currentTemperature {
  font-size: 40px;
  text-align: left;
  vertical-align: top;
}
.Weather .currentTemperatureEmoji {
  vertical-align: top;
  width: 80px;
}

.Weather {
  max-width: 700px;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  padding: 20px;
  margin: 20px;
}
.Weather .currentTemperature {
  font-size: 50px;
  vertical-align: top;
}
.Weather .currentConditionList {
  vertical-align: top;
  font-size: 15px;
  line-height: 1.2;
}
.Weather .currentCity {
  text-align: right;
  line-height: 1.2;
}

.Weather .forecast {
  text-align: center;
  padding-top: 30px;
}
.Weather .forecast-temp {
  text-align: center;
}

.Weather input.form-control.placeholder-background {
  background-color: #fadbdc;
}
.Weather form {
  margin-bottom: 10px;
}
.Weather .currentLocation {
  font-size: 10px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
#description:first-letter {
  text-transform: capitalize;
}
#next-day-icon {
  display: block;
  margin: 0 auto;
}
#next-day {
  text-align: center;
}
#high-temp {
  font-weight: 600;
}
